@import "nib"
@import "nib/gradients"
@import "css/normalize"
@import "css/main"

fontsize = 14px

body
	font-size: fontsize


/* ==========================================================================
   Media Queries
   ========================================================================== */

// @media only screen and (min-width: 480px) {



// @media only screen and (min-width: 768px) {



// @media only screen and (min-width: 1140px) {
