//- Website Info
- page ={}
- page.title           = 'My Hello Jade'
- page.description     = 'texto de ejemplo usar máximo 70 caracteres'
- page.keywords        = 'máximo, 12, palabras, separadas, por, comas'
- page.url             = 'web-url.com'
- page.ga_code         = 'UA-XXXXX-X'
- page.lang            = 'es'
- page.img             = 'img/logo.jpg'
- page.favicon         = 'img/favicon.ico'
- page.appletouch      = 'img/favicon-iphone.png'
- page.geo_region      = 'PE-LIM'
- page.geo_placename   = 'Magdalena del Mar'
- page.geo_position    = '-12.0478; -77.0622'
- page.author          = 'autor de la pagina'
- page.developer       = 'developer'