/**
  Sprites Mixins
**/

spriteWidth($sprite)
  width: ($sprite[4] / 2)

spriteHeight($sprite)
  height: ($sprite[5] / 2)

spritePosition($sprite)
  background-position: ($sprite[2] / 2) ($sprite[3] / 2)

spriteImage($sprite)
  background-image: url(../img/$sprite[8])
  background-size: ($sprite[6] / 2)

sprite($sprite)
    if !match('hover', selector()) && !match('active', selector())
        spriteImage($sprite)
    spritePosition($sprite)
    spriteWidth($sprite)
    spriteHeight($sprite)