spr-email = 0px 0px 0px 0px 14px 14px 28px 28px '../img/sprite.png'
spr-hello = 14px 0px -14px 0px 14px 14px 28px 28px '../img/sprite.png'
spr-home = 0px 14px 0px -14px 14px 14px 28px 28px '../img/sprite.png'
spr-love = 14px 14px -14px -14px 14px 14px 28px 28px '../img/sprite.png'