spr-email = 0px 0px 0px 0px 28px 28px 56px 56px 'sprite.png'
spr-hello = 28px 0px -28px 0px 28px 28px 56px 56px 'sprite.png'
spr-home = 0px 28px 0px -28px 28px 28px 56px 56px 'sprite.png'
spr-love = 28px 28px -28px -28px 28px 28px 56px 56px 'sprite.png'
