extends template/layout

block content
	.container
		.Slider
			ul.Slider-slides
				li
					a(href="#")
						img(src="http://lorempixel.com/640/480/animals/1/")
						p.Slider-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id, quam nam laudantium saepe aperiam eaque sint voluptatibus ipsum, sit nemo facere, magnam veniam unde vel. Vitae eius aperiam provident!
				li
					a(href="#")
						img(src="http://lorempixel.com/640/480/animals/2/")
						p.Slider-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id, quam nam laudantium saepe aperiam eaque sint voluptatibus ipsum, sit nemo facere, magnam veniam unde vel. Vitae eius aperiam provident!
				li
					a(href="#")
						img(src="http://lorempixel.com/640/480/animals/3/")
						p.Slider-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id, quam nam laudantium saepe aperiam eaque sint voluptatibus ipsum, sit nemo facere, magnam veniam unde vel. Vitae eius aperiam provident!
				li
					a(href="#")
						img(src="http://lorempixel.com/640/480/animals/4/")
						p.Slider-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, id, quam nam laudantium saepe aperiam eaque sint voluptatibus ipsum, sit nemo facere, magnam veniam unde vel. Vitae eius aperiam provident!
