extends template/layout

block content
	#myCarousel.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				li(data-target='#myCarousel', data-slide-to='2')
			.carousel-inner
				.item.active
					img(src='http://lorempixel.com/640/480/animals/1/', alt='First slide')
					.container
						.carousel-caption
							h1 Example headline.
							p
								| Note: If you&apos;re viewing this page via a 
								code file://
								|  URL, the &quot;next&quot; and &quot;previous&quot; Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
							p
								a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today

