// ====================================================================
// Slider Component
// ====================================================================

.Slider
	&-slides
		> li
			float:left
			img
				width:100%
	&-caption
		font-size:1.2em