// ==========================================================================
// Blocks
// ==========================================================================

.box{
  padding: .5em;
  border:1px solid $grey;
}

// ==========================================================================
// Navigatuion Menus
// ==========================================================================

.nav-vertical {
  
  &__list {
    list-style-type: none;
    margin:0;
    padding:0;
  }

}

.nav{
  @extends .nav-vertical;

  &__item {
    display: inline-block;
  }
  
}

// ==========================================================================
// Titles
// ==========================================================================

.title{
  padding-bottom:.5em;
  border-bottom: 1px solid $grey;
}