// ====================================================================
// Basic Imports
// Add files inside ./inc folder.
// ====================================================================

@import "inc/sprite"
@import "inc/mixins"
@import "inc/iconfont"

// ====================================================================
// Librerias
// ====================================================================

@import "inc/libs/bootstrap.css"
@import "inc/libs/bootstrap-theme.css"
@import "inc/libs/flexslider.css"

// ====================================================================
// Rupture Main Config
// ====================================================================
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

// ====================================================================
// Site Styles
// ====================================================================
// Your Styles Here



















// ====================================================================
// Other
// ====================================================================

@import "inc/libs/helpers"
@import "inc/print"