// ====================================================================
// Basic Imports
// Add files inside ./inc folder.
// ====================================================================

@import "inc/libs/normalize"
@import "inc/base"
@import "inc/sprite"
@import "inc/mixins"
@import "inc/iconfont"
@import "inc/general"

// ====================================================================
// Rupture Main Config
// ====================================================================
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'



// ====================================================================
// Layout Styles
// ====================================================================
@import "inc/layout"


// ====================================================================
// Components
// ====================================================================

@import "inc/components/slider"

// ====================================================================
// Other
// ====================================================================
@import "inc/libs/helpers"
@import "inc/print"