// ====================================================================
// Basic Imports
// Add files inside ./inc folder.
// ====================================================================

@import "libs/normalize"
@import "inc/*"

// ====================================================================
// Rupture Main Config
// ====================================================================
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

// ====================================================================
// Site Styles
// ====================================================================
// Import Your styles here

.sprite
	sprite(spr-email)






// ====================================================================
// Other
// ====================================================================

@import "helpers/helpers"
@import "helpers/print"