@import "nib"
@import "nib/gradients"
@import "normalize"
@import "h5b"
@import "sprite"
@import "mixins"
@import "iconfont"
@import "general"


fontsize = 14px

body
	font-size: fontsize
	
.icon-home
	sprite(spr-home)

.icon-hello
	sprite(spr-hello)

.icon-love
	sprite(spr-love)


	



@import "mediaqueries"
@import "helpers-print"