@import "normalize"
@import "h5b"
@import "sprite"
@import "mixins"
@import "iconfont"
@import "general"


fontsize = 14px
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

body
	font-size: fontsize

.icon-home
	sprite(spr-home)

.icon-hello
	sprite(spr-hello)

.icon-love
	sprite(spr-love)


.font-icons
	background: red
	border-radius:20px
	width:100px
	+from-width('s')
		background:blue

@import "helpers-print"