// ====================================================================
// Fluidity Framework 
// ====================================================================

// Config, referencias: http://www.fluiditycss.com/
grid-width = 960px
grid-min-width = 320px
base-font-size = 1em
base-line-height = 1.25em
base-color = #000000
vendors = webkit moz o official

@import "fluidity"

// @import "inc/libs/normalize"
@import "inc/sprite"
@import "inc/mixins"
@import "inc/iconfont"
@import "inc/general"




// Rupture Config
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'


#wrapper
	grid()

fontsize = 14px

body
	font-size: fontsize

.icon-home
	sprite(spr-home)

.icon-hello
	sprite(spr-hello)

.icon-love
	sprite(spr-love)

.icon-email
	sprite(spr-email)


@import "inc/libs/helpers"
@import "inc/print"