/**
  Sprites Mixins
**/

@mixin spriteWidth($sprite){
  width: nth($sprite, 5);
}

@mixin spriteHeight($sprite){
  height: nth($sprite, 6);
}

@mixin spritePosition($sprite){
  background-position: nth($sprite, 3) nth($sprite, 4);
}

@mixin spriteImage($sprite) {
  background-image: url( nth($sprite, 9) );
  background-size: nth($sprite, 7);
}

@mixin sprite($sprite) {
  @include spriteImage($sprite);
  @include spritePosition($sprite);
  @include spriteWidth($sprite);
  @include spriteHeight($sprite);
}