include -doctype
	head
		include -head
	body
		<!--[if lt IE 8]>
		p.browsehappy
		| You are using an <strong>outdated</strong> browser.
		| Please <a href="http://browsehappy.com/">upgrade your browser</a>
		| to improve your experience.
		<![endif]-->
		
		#wrapper
			
			include -header.jade

			block content

			include -footer.jade
			
		// END of #wrapper
		