//- Website Info
- page ={}
- page.title           = 'Titulo de la página: entre 55 caracteres'
- page.description     = 'La descripción: entre 155 caracteres'
- page.keywords        = 'Keywords: entre 5 palabras o frases clave'
- page.url             = 'web-url.com'
- page.ga_code         = 'UA-XXXXX-X'
- page.lang            = 'es'
- page.img             = 'img/logo.jpg'
- page.favicon         = 'img/favicon.ico'
- page.appletouch      = 'img/apple-touch-icon.png'
- page.geo_region      = 'PE'
- page.geo_placename   = 'Lugar'
- page.geo_position    = '-12.0478; -77.0622'
- page.author          = 'autor de la pagina'
- page.developer       = 'developer'