footer#footer
  | <span class="icof-copyright"></span> Created by  <a href="mailto:pepe@beatpixel.com">Pepe Miyashiro</a> Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT License</a>
include -footer--script.jade	