header#header
  img(src="http://placehold.it/200x200?text=Logo").logo

  h1 Front End Starter Kit.
  p.l-emphasis Jade, Sass, Gulp & Browserify (by now)
  nav.nav-vertical
    ul.nav-vertical__list
      li.nav-vertical__item: a(href="#") Getting Started 
      li.nav-vertical__item: a(href="#") Installation
      li.nav-vertical__item: a(href="#") Guide
      li.nav-vertical__item: a(href="#") Jade
      li.nav-vertical__item: a(href="#sass") Sass
      li.nav-vertical__item: a(href="#") Javascript
      li.nav-vertical__item: a(href="#") Fonts, Images & Icons
      li.nav-vertical__item: a(href="#styleGuide") Style Guide
